.slider {
  --swiper-pagination-bottom: 0;
  --swiper-pagination-bullet-size: 11px;
  --swiper-pagination-bullet-horizontal-gap: 3px;

  :global {
    .swiper-pagination-bullet {
      @apply align-middle transition-transform;
    }
    .swiper-pagination-bullet-active {
      transform: scale(1.3);
      --swiper-pagination-color: theme(colors.action_ll2);
    }
  }

  &.has-pagination {
    @apply pb-7;
  }

  &.pagination-alt {
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-horizontal-gap: 5px;

    :global {
      .swiper-pagination-bullet-active {
        transform: scale(1);
        --swiper-pagination-color: theme(colors.mainFont);
      }
    }
  }
}
